@page

@model IndexModel
@{
    ViewData["Title"] = "Customer Information";
}

<div class="container my-4">

    <div class="card bg-white shadow">

        <div class="card-body p-4">

            <h1 class="mb-4 fs-6">Customer Information</h1>

            <form method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="col-12 mb-2">
                    <div class="col-12 col-md-12">
                        <label asp-for="Customer.DateOfBirth" for="picker" class="form-label"></label>
                        <input asp-for="Customer.DateOfBirth" 
                               id="picker" 
                               class="form-control" 
                               style="width: 200px" 
                               type="date"/>
                        <span class="text-danger small fw-bold" asp-validation-for="Customer.DateOfBirth"></span>
                    </div>
                </div>

                <div class="col-12 col-md-12 mb-2">
                    <label asp-for="Customer.SocialSecurityNumber" class="form-label"></label>
                    <input asp-for="Customer.SocialSecurityNumber" 
                           style="width: 120px" 
                           class="form-control"/>
                    <span class="text-danger small fw-bold" asp-validation-for="Customer.SocialSecurityNumber"></span>
                </div>

                <div class="col-12 col-md-6 mb-2">
                    <label asp-for="@Model.Customer.FirstName" class="form-label"></label>
                    <input asp-for="@Model.Customer.FirstName"
                           class="form-control"/>
                    <span class="text-danger small fw-bold" asp-validation-for="Customer.FirstName"></span>
                </div>

                <div class="col-12 col-md-6 mb-2">
                    <label asp-for="Customer.MiddleName" class="form-label"></label>
                    <input asp-for="Customer.MiddleName" 
                           class="form-control" 
                           style="width: 250px"/>
                    <span class="text-danger small fw-bold" asp-validation-for="Customer.MiddleName"></span>
                </div>

                <div class="col-12 col-md-6 mb-2">
                    <label asp-for="@Model.Customer.LastName" class="form-label"></label>
                    <input asp-for="@Model.Customer.LastName" 
                           class="form-control"/>
                    <span class="text-danger small fw-bold" asp-validation-for="Customer.LastName"></span>
                </div>

                
                <div class="col-12 col-md-6">
                    <div class="row g-2 align-items-center">
                        <div class="col-auto">
                            <label asp-for="Customer.Gender" class="col-form-label"></label>
                        </div>
                        <div class="col">
                            <select class="form-select" style="width: 145px" asp-for="Customer.Gender" >
                                <option value="" >Select...</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Unspecified">Unspecified</option>
                            </select>
                            <span class="text-danger small fw-bold" asp-validation-for="Customer.Gender"></span>
                        </div>
                    </div>
                </div>

                <div class="row g-3">

                    <!-- Submit -->
                    <div class="col-12">
                        <input type="submit" value="Continue" asp-page-handler="Submit" class="btn btn-primary mt-2"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@* 
Client-side validation
https://learn.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-9.0#client-side-validation
*@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

