@page
@model FluentWebApplication.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="alert alert-primary" role="alert">
    Edit
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Person.PersonId" />
            <div class="form-group">
                <label asp-for="Person.FirstName"></label>
                <input asp-for="Person.FirstName" class="form-control" />
                <span asp-validation-for="Person.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.LastName"></label>
                <input asp-for="Person.LastName" class="form-control" />
                <span asp-validation-for="Person.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.EmailAddress"></label>
                <input asp-for="Person.EmailAddress" class="form-control" />
                <span asp-validation-for="Person.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./List" class="btn btn-primary mt-2">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
