@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container border border-dark border-1 mt-4">
    <div class="row">

        <div style="background-color: #0f506f" class="text-white text-center p-2">
            Presenting Fluent validation in razor pages
        </div>

    </div>
</div>

<div class="card mt-4 mb-4 bg-light">
    <div class="card-body">
        <h5 class="card-title">About</h5>
        <p class="card-text">
            Simple <span class="badge bg-info text-black" style="width: 6.55rem;">Fluent validation</span> example
        </p>

    </div>
</div>